#connection {
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#connection h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

#connection form > div {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 500px;
}

#connection form > div:last-child {
	background: none;
	justify-content: center;
	align-items: center;
	padding: 5px;
}


#connection form > div input {
	padding: 10px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	background: #3d404b;
	border-radius: 10px;
	border: 1px solid grey;
}

#connection form > div label {
	font-size: 15px;
	position: relative;
	top: 8px;
	left: 5px;
	background: linear-gradient(to bottom, rgb(39, 42, 55) 55%, #3d404b 45%);
	padding: 0 5px;
}

#connection .btn_connection {
	background-color: #1d8ef3;
	border-radius: 25px;
	width: 200px;
}

#connection .remember {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	width: 100%;
}

#connection .connection_checkbox {
	display: flex;
}

#connection .remember a {
	text-decoration: underline;
	padding: 5px;
}

#connection .title {
	display: flex;
	justify-content: space-between;
}

#connection .title i {
	position: relative;
	top: 27px;
	right: 15px;

}

#connection img {
	position: absolute;
	left: 50px;
	bottom: -40px;
	opacity: 0.7;
}

#connection .replique {
	position: absolute;
	bottom: 50px;
	left: 275px;
	font-size: 20px;
	font-weight: bold;
	width: 278px;
	z-index: 1;
}




