#detail_sale h2 {
	text-align: center;
}

#detail_sale {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
	height: 80vh;
}

#detail_sale .noconnect {
	color: orange;
}

#detail_sale .body_detail {
	padding: 40px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	background: #3d404b;
	border-radius: 10px;
	border: 2px solid gray;
	transition: 0.3s;
	width: 500px;
}

#detail_sale .body_detail > div {
	display: flex;
	padding: 5px 0;
}

#detail_sale .body_detail > div p:first-child {
	font-weight: normal;
	padding-right: 5px;
}

#detail_sale .panpan_seagal {
	position: fixed;
	bottom: 0;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
	padding-bottom: 50px;
	display: flex;
	justify-content: start;
	left: 0;
	z-index: -1;
}

#detail_sale .panpan_seagal img {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 100%;
	opacity: 0.5;
	z-index: -1;
}

#detail_sale .panpan_seagal p {
	font-size: 20px;
	font-weight: bold;
	padding-left: 50px;
	position: relative;
	width: 300px;
}

#detail_sale .encherir input {
	padding: 10px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	background: #3d404b;
	border-radius: 10px;
	border: 2px solid gray;
}

#detail_sale .encherir input[type=number] {
	content: none;
}

#detail_sale form {
	display: flex;
	align-items: center;
}

#detail_sale .btn_encherir {
  background-color: #1d8ef3;
	width: 200px;
	padding: 10px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
	border: 2px solid gray;
	margin: 16px 10px 0 10px;
}


#detail_sale .title label {
  font-size: 15px;
  position: relative;
  top: 8px;
  left: 5px;
  background: linear-gradient(to bottom, #3d404b 55%, #3d404b 45%);
  padding: 0 5px;
}

#detail_sale .title i {
  position: relative;
  top: 29px;
  right: 15px;
}

#detail_sale .win {
  justify-content: center;
  width: 100%;
}

#detail_sale .winp {
  font-weight: bold !important;
}
