* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.container {
    width: 900px;
    margin: auto;
}

/*****************************************/

nav {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 20px 0;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/*******************************************/

h2 {
    text-align: center;
    padding: 10px 0;
}

/**********************************/

.form_profile_register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_profile_register label {
    display: block;
    width: 150px;
}

.form_profile_register .form_left,
.form_profile_register .form_right {
    padding: 10px;
}

.form_profile_register > div > div {
    display: flex;
    padding: 5px 0;
}

.register_button, .profile_button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.register_button button, 
.profile_button button {
    padding: 10px 35px;
}