nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	box-shadow: 6px 0px 6px 0px black;
}

nav ul {
	display: flex;
	justify-content: space-around;
	
}

nav ul li {
	padding: 0 10px;
}