<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProjetEncheres</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EnchereServlet</display-name>
    <servlet-name>EnchereServlet</servlet-name>
    <servlet-class>fr.formation.enchere.ihm.EnchereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnchereServlet</servlet-name>
    <url-pattern>/EnchereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>fr.formation.enchere.ihm.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>fr.formation.enchere.ihm.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/ConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailSaleServlet</display-name>
    <servlet-name>DetailSaleServlet</servlet-name>
    <servlet-class>fr.formation.enchere.ihm.DetailSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailSaleServlet</servlet-name>
    <url-pattern>/DetailSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewSaleServlet</display-name>
    <servlet-name>NewSaleServlet</servlet-name>
    <servlet-class>fr.formation.enchere.ihm.NewSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewSaleServlet</servlet-name>
    <url-pattern>/NewSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>fr.formation.enchere.ihm.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>fr.formation.enchere.ihm.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WinnerSaleServlet</display-name>
    <servlet-name>WinnerSaleServlet</servlet-name>
    <servlet-class>fr.formation.enchere.ihm.WinnerSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WinnerSaleServlet</servlet-name>
    <url-pattern>/WinnerSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>fr.formation.enchere.ihm.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>